/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


nav.navbar{
  background-color: #fff;
  color: #4b5968;
  display: flex;
  justify-content: space-between;
  width: 414px;
  margin: 0 auto;
} 
nav > svg{
  padding: 10px;
}
nav > div{
  display: flex;
  align-items: center;
  justify-content: center;
}