 #root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  background-color: #f1f4f7;
  color: #b0b9c5;
} 


nav{
  background-color: #fff;
  color: #4b5968;
  display: flex;
  justify-content: space-between;
  width: 414px;
  margin: 0 auto;
} 
nav > svg{
  padding: 10px;
}
nav > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.navbar{
  position: sticky;
  top: 0;
}
nav.navdrawer{
  position: sticky;
  bottom: 0;
}
/* timefilter */
div.time-filter{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;

}
.time-filter .active{
  color: #fff;
  background-color: #b0b9c5;
  padding: 10px 20px;
  border-radius: 50px;
}